@page "/"
@inherits IndexBase
@namespace TeamProject.Pages
@using TeamProject.Data

<PageTitle>Home</PageTitle>

@if (!this.IsLoaded)
{
    <p><em>Loading</em></p>
}
else
{
    @if (this.ErrorOccured)
    {
        <p>There was an error in loading the database</p>
        <p>Please press retry.</p>
        <RadzenButton Text="Retry" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large"></RadzenButton>
    }
    else
    {
        <RadzenStack>
            <RadzenStack >
                <RadzenStack AlignItems="AlignItems.Start" Gap="5px;">
                    <h1 style="margin-block-end: 0;">Project Tracking</h1>
                    <h4 style="margin-block-end: 0; ">@DateTime.Today.Date.ToString("ddd MMM yyyy")</h4>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Grid" Size="ButtonSize.Large"/>
                    <RadzenButton Text="Grid" Size="ButtonSize.Large" />
                    <RadzenButton Text="Grid" Size="ButtonSize.Large" />
                </RadzenStack>
                <div class="divider" />
            </RadzenStack>
            @*Page's Main Content*@
            <RadzenStack>
                @foreach(var proj in this.Projects)
                {
                    <RadzenCard>
                        <RadzenStack>
                            <h3>@proj.Name</h3>
                            <RadzenStack Orientation="Orientation.Horizontal" Gap="2rem">
                                <h5>Total Requirements: @proj.TotalRequirements</h5>
                                <h5>Percent Complete: @proj.ProjectCompletion%</h5>
                                <h5>High Priority Tasks: @proj.HighPriorityTasks </h5>
                            </RadzenStack>
                            @* <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                            Data="proj.TeamMembers" TItem="ProjectTeamMember" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
                                        <Columns>
                                            <RadzenGridColumn TItem="ProjectTeamMember" Property="TeamMemberName" Title="Name" />
                                            @foreach(var col in this.GanntChartDates)
                                            {
                                                <RadzenGridColumn TItem="DateTime"  Title="Date" />
                                            }
                                            
                                        </Columns>
                            </RadzenDataGrid> *@

                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Task / Date</th>
                                            @foreach (var date in proj.ProjectDates)
                                            {
                                                <th>@date.ToShortDateString()</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var task in proj.Tasks)
                                        {
                                            <tr>
                                                <td>@task.TaskName</td>
                                                @foreach (var date in proj.ProjectDates)
                                                {
                                                    @*if any of the dates from the task match then highlight*@
                                                    @if (task.Dates.Any(x => x.Key == date))
                                                    {
                                                        <td class="highlighted" 
                                                        @onclick="() => ToggleTaskDate(task, date)" > 
                                                        @if (task.Dates[date])
                                                        {
                                                            <span>✔</span>
                                                        }
                                                    </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="NO" ></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </RadzenStack>
                    </RadzenCard>
                }
            </RadzenStack>
        </RadzenStack>
    }
}


<style>
    h1{
        margin-block-end: 0;
        margin-block-start: 0;
        font-weight: 600;
    }



    .divider{
        border-bottom: 3px solid #e0e0e0;
        margin: 10px 0;
    }

    .highlighted {
    background-color: yellow; /* Or any color you prefer */
}

</style>